<h2>Album: <%= @tracks[0]['album_title'] %></h2>
<h3>by <%= @tracks[0]['artist_name'] %></h2>
<table>
  <tr>
    <th>No.</th>
    <th>Track Name</th>
  </tr>
  <% @tracks.each_with_index do |track, index| %>
  <tr>
    <td>
      <%= index + 1 %>
    </td>
    <td>
      <a href="/tracks/<%= track['track_id'] %>">
        <%= track['track_name'] %>
      </a>
    </td>
  </tr>
  <% end %>
</table>
