<section>
  <div class='subheader'>
    <h2><%= "#{@albums.first['artist_name']}" %></h2>
  </div>
  <table>
    <tr>
      <th>No.</th>
      <th>Album Name</th>
      <th>Genre</th>
    </tr>
    <% @albums.each_with_index do |album, index| %>
    <tr>
      <td class='fit'>
        <%= index + 1 %>
      </td>
      <td>
        <a href="/albums/<%= album['album_id'] %>">
          <%= album['album_title'] %>
        </a>
      </td>
      <td>
        <%= album['genre'] %>
      </td>
    </tr>
    <% end %>
  </table>
</section>
